.container {
  display: flex;
  padding: 50px 180px 50px 180px;
  flex-direction: column;
}
  .font-heading{
    font-size: 150px;
    margin: 0;
  }
  .font-subheading{
    font-family: 'GrandSlang-Roman', serif;
    font-size: 36px;
    font-weight: 200;
    width: 450px;
  }
  .headings{
    font-family: 'GrandSlang-Roman', serif;
    font-size: 20px;
    font-weight: 100;
    width: 450px;
  }
  ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
  }
  
  li {
    font-size: 15px;
    color: #fa2742; /* Slightly lighter dark color */
    line-height: 1;
  }
  h1{
    font-family: 'GrandSlang-Roman', serif;
    line-height: 1.6;
    font-weight: 100;
  }
  
  ul li:nth-child(odd) {
    font-weight: bold; 
  }
  
  ul li:nth-child(even) {
    color: #7f8c8d; 
  }
  
  .cv-button {
    padding: 10px 10px;
    border: none;
    background-color: #fa2742;
    font-family: 'GrandSlang-Roman', serif;
    font-size: 20px;
    width: 150px;
    border-radius: 20px;
    margin-top: auto;
    color: #fffbeb;
  }

  .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  max-width: 1200px; 
  overflow: hidden;
}