<div class="container fade-in">
  <div class="home_nav">
    <p><a href="">home</a></p>
  </div>
  
  <h1 class="font-heading slide-in-up">About</h1>
  
  <div class="row fade-in-delay">
    <div class="col1 slide-in-left">
      <p class="font-subheading">I'm Adyasha. A developer and problem solver.</p>
      <h1>Education</h1>
      <ul>
        <li>Masters in Engineering in Software & Cloud Engineering</li>
        <li>University of Maryland, College Park</li>
        <li>2025-2027</li>
        <li>Bachelors in Engineering in Computer Engineering</li>
        <li>University of Mumbai</li>
        <li>2018-2022</li>
      </ul>
    </div>
    
    <div class="col2 slide-in-right">
      <h1>Skills</h1>
      <p>Full Stack Development / Angular / AngularJS / React / Node.js / Python / TypeScript / SQL / MongoDB / HTML5 / CSS3 / User Research / Agile Methodologies / Docker / AWS / Jenkins / CI/CD / RESTful APIs / GraphQL / JIRA / Confluence / Firebase / Linux / Kubernetes / Microservices / Git / Application Monitoring</p>
      <button class="cv-button" (click)="downloadResume()">Resume</button>
    </div>
  </div>
</div>