<div class="container">
    <div class="home_nav">
        <p><a href="">home</a></p>
    </div>
    <h1 class="font-heading">About</h1>
    <div class="row">
        <div class="col1">
            <p class="font-subheading">I'm Adyasha. A developer and problem solver.</p>
            <h1>Education</h1>
            <ul>
            <li>Bachelors in Engineering in Computer Engineering</li>
            <li>2018-2022</li>
            </ul>
        </div>
        <div class="col2">
            <h1>Skills</h1>
            <p> Full Stack Development / Angular / Angular JS / Node JS / SQL / Mongo DB / Python / User Research / Agile Methodologies / Collaboration / Docker / HTML and CSS / JIRA / Confluence / AWS / Jenkins / </p>
            <button class="cv-button"  (click)="downloadResume()">Resume</button>
        </div>
    </div>
</div>