<div class="container">
    <h1>Job Experience</h1>
    <div class="row">
    <div class="work">
        <h2>WORK</h2>
        <p>This is showcase of work experience in Software Development. The software industry is constantly evolving, and so has my role within it. I remain committed to continuous learning and skill development.</p>
    </div>
    <div class="job-experience">
        <div class="job">
            <div class="job-header">
              <h3>Software Developer Engineer <span>at Niramai Health Analytix</span></h3>
              <p class="job-date">Jul 2022 – Present | Remote</p>
            </div>
            <p class="job-summary">
              Led front-end development projects using Angular and Node.js, collaborating with cross-functional teams to deliver high-quality, scalable applications for global clients.
            </p>
        
            <ul class="responsibilities">
              <li>Developed code for 6 projects using <strong>Angular</strong>, <strong>AngularJS</strong>, and <strong>NodeJS</strong>, following industry standards and design patterns.</li>
              <li>Managed application maintenance, debugging, and deployment, ensuring alignment with performance standards and user requirements.</li>
              <li>Created RESTful APIs in <strong>NodeJS</strong>, implemented input validation with <strong>Postman</strong>, and maintained data integrity in <strong>MongoDB</strong>.</li>
              <li>Implemented client-side validation and translated designs into high-quality code using <strong>CSS</strong> and <strong>JavaScript</strong>.</li>
              <li>Wrote comprehensive documentation and developed reusable unit tests to enhance quality control and efficiency.</li>
            </ul>
        
            <p class="skills">Skills: AWS, ECS, ECR, S3, CloudWatch, Angular, NodeJS, MongoDB</p>
          </div>
          <div class="job">
            <div class="job-header">
              <h3>Backend Developer <span>at Niramai Health Analytix</span></h3>
              <p class="job-date">May 2021 – Jun 2022 | Remote</p>
            </div>
            <p class="job-summary">
              Led front-end development projects using Angular and Node.js, collaborating with cross-functional teams to deliver high-quality, scalable applications for global clients.
            </p>
        
            <ul class="responsibilities">
              <li>Developed code for 6 projects using <strong>Angular</strong>, <strong>AngularJS</strong>, and <strong>NodeJS</strong>, following industry standards and design patterns.</li>
              <li>Managed application maintenance, debugging, and deployment, ensuring alignment with performance standards and user requirements.</li>
              <li>Created RESTful APIs in <strong>NodeJS</strong>, implemented input validation with <strong>Postman</strong>, and maintained data integrity in <strong>MongoDB</strong>.</li>
              <li>Implemented client-side validation and translated designs into high-quality code using <strong>CSS</strong> and <strong>JavaScript</strong>.</li>
              <li>Wrote comprehensive documentation and developed reusable unit tests to enhance quality control and efficiency.</li>
            </ul>
        
            <p class="skills">Skills: AWS, ECS, ECR, S3, CloudWatch, Angular, NodeJS, MongoDB</p>
          </div>
          <div class="job">
            <div class="job-header">
              <h3>Full Stack Developer Intern <span>at Edunomics</span></h3>
              <p class="job-date">Nov 2020 – Apr 2021 | Remote</p>
            </div>
            <p class="job-summary">
              Led front-end development projects using Angular and Node.js, collaborating with cross-functional teams to deliver high-quality, scalable applications for global clients.
            </p>
        
            <ul class="responsibilities">
              <li>Developed code for 6 projects using <strong>Angular</strong>, <strong>AngularJS</strong>, and <strong>NodeJS</strong>, following industry standards and design patterns.</li>
              <li>Managed application maintenance, debugging, and deployment, ensuring alignment with performance standards and user requirements.</li>
              <li>Created RESTful APIs in <strong>NodeJS</strong>, implemented input validation with <strong>Postman</strong>, and maintained data integrity in <strong>MongoDB</strong>.</li>
              <li>Implemented client-side validation and translated designs into high-quality code using <strong>CSS</strong> and <strong>JavaScript</strong>.</li>
              <li>Wrote comprehensive documentation and developed reusable unit tests to enhance quality control and efficiency.</li>
            </ul>
        
            <p class="skills">Skills: AWS, ECS, ECR, S3, CloudWatch, Angular, NodeJS, MongoDB</p>
          </div>
    </div>
</div>
</div>