<div class="container animate-fade-in">
  <div class="home_nav animate-fade-in">
    <p><a href="">home</a></p>
  </div>
  <h1 class="animate-fade-in">Job Experience</h1>
  <div class="row animate-fade-in">
    <div class="work animate-fade-in">
      <h2>WORK</h2>
      <p>This is showcase of my work experience in Software Development. The software industry is constantly evolving,
        and so has my role within it. I remain committed to continuous learning and skill development.</p>
    </div>
    <div class="job-experience">
      <div class="job animate-fade-in">
        <div class="job-header">
          <h3>Software Engineer -II <span>at Niramai Health Analytix</span></h3>
          <p class="job-date">Jan 2025 – Aug 2025 | Remote</p>
        </div>
        <p class="job-summary">
          Led development of projects using Angular and Node.js, collaborating with cross-functional teams to deliver
          high-quality, scalable applications for global clients.
        </p>
        <ul class="responsibilities">
          <li>Built and deployed a full-body cancer detection system with production-grade cloud architecture; submitted
            for FDA clearance.</li>
          <li>Improved microservice latency by optimizing GraphQL/API interactions and caching layers, significantly
            enhancing user responsiveness.</li>
          <li>Designed efficient SQL and NoSQL data models, reducing complex query times by 30%.</li>
          <li>Developed robust CI/CD pipelines using Jenkins and Docker, reducing deployment time by 50% and
            accelerating release cycles.</li>
          <li>Optimized AWS deployments, reducing cloud costs by 20% while improving scalability for ML-powered
            healthcare applications.</li>
          <li>Collaborated with cross-functional teams to ensure diagnostic accuracy, regulatory compliance, and
            clinical readiness.</li>
          <li>Integrated observability tools and incident response workflows, increasing platform reliability and
            monitoring coverage.</li>
        </ul>
        <p class="skills">Skills: Angular, Node.js, MongoDB, Express.js, REST APIs, AWS (ECS, ECR, S3, CloudWatch), JSReport,
          Docker, Git, CI/CD, Mocha, Jasmine, Postman, Jira, Agile Methodologies, Mentoring, Leadership
        </p>
      </div>
      <div class="job animate-fade-in">
        <div class="job-header">
          <h3>Software Engineer -I <span>at Niramai Health Analytix</span></h3>
          <p class="job-date">Jul 2022 – Dec 2024 | Remote</p>
        </div>

        <p class="job-summary">
          Spearheaded full-stack development of an AI-driven breast cancer detection platform by integrating ML model
          outputs into a dynamic web interface, building RESTful APIs, and deploying scalable services—enhancing
          diagnostic accuracy and user accessibility for clinicians.
        </p>

        <ul class="responsibilities">
          <li>Curated over 50 website changes to improve user flow and enhance understanding of platform capabilities.
          </li>
          <li>Built and optimized 10+ front-end components using <strong>ReactJS</strong> and <strong>Angular</strong>,
            boosting UX and reducing load time by 25%.</li>
          <li>Developed and scaled 10+ backend services using <strong>Node.js</strong> and <strong>FastAPI</strong>,
            improving reliability by 35% and access speed by 25%.</li>
          <li>Created RESTful APIs in <strong>NodeJS</strong>, implemented input validation with
            <strong>Postman</strong>, and maintained data integrity in <strong>MongoDB</strong>.
          </li>
          <li>Utilized <strong>JSON</strong>, <strong>Passport</strong>, and <strong>JWT</strong> for secure
            authentication in <strong>Node.js</strong>.</li>
          <li>Implemented client-side validation and translated designs into high-quality code using
            <strong>CSS</strong> and <strong>JavaScript</strong>.
          </li>
          <li>Enhanced application performance through containerized deployments using <strong>Docker</strong> and
            scalable cloud infrastructure.</li>
          <li>Integrated third-party APIs like <strong>WhatsApp Cloud API</strong>, streamlining communication and
            automating critical workflows.</li>
          <li>Coded, tested, and debugged both new and existing programs, ensuring efficiency and reliability.</li>
          <li>Defined, designed, and shipped new features, along with implementing bug fixes to enhance performance.
          </li>
          <li>Collaborated with cross-functional teams during sprint planning and client sync-ups using
            <strong>JIRA</strong>, helping achieve 95% sprint goal completion and reducing blockers by 40%.
          </li>
        </ul>


        <p class="skills">Skills: Angular, Node.js, MongoDB, Express.js, REST APIs, AWS (ECS, ECR, S3, CloudWatch),
          Docker, Git, CI/CD, Mocha, Jasmine, Postman, Jira, Agile Methodologies
        </p>
      </div>
      <div class="job animate-fade-in">
        <div class="job-header">
          <h3>Full Stack Developer Intern <span>at Niramai Health Analytix</span></h3>
          <p class="job-date">Nov 2020 – Apr 2021 | Remote</p>
        </div>

        <p class="job-summary">
          Interned as a Full-Stack Developer, contributing to the booking website by implementing core features like
          coupon and pay-later options using Angular, Node.js, and MongoDB. Enhanced backend API functionality and
          improved UI responsiveness to streamline user transactions and business logic.
        </p>
        <ul class="responsibilities">
          <li>Developed and integrated coupon and gift card functionality into the booking website using
            <strong>Angular</strong> and <strong>Node.js</strong>.
          </li>
          <li>Implemented a “Pay Later” feature using RazorPay, coordinating frontend logic with backend APIs and
            database schema
            changes in <strong>MongoDB</strong>.</li>
          <li>Built and optimized RESTful APIs to support new features and ensure seamless client-server interaction.
          </li>
          <li>Performed UI enhancements and bug fixes to improve user experience and checkout flows.</li>
          <li>Wrote efficient MongoDB queries and handled data modeling to support feature scalability and maintain
            performance.</li>
        </ul>

        <p class="skills">
          Skills: Angular,NodeJS, MongoDB, Express.js, REST APIs, RazorPay, Git, Agile Methodologies
        </p>
      </div>

      <div class="job animate-fade-in">
        <div class="job-header">
          <h3>Full Stack Developer Intern <span>at Edunomics</span></h3>
          <p class="job-date">Nov 2020 – Apr 2021 | Remote</p>
        </div>

        <p class="job-summary">
          Developed applications using React and Redux, integrating Google APIs and optimizing component lifecycles to
          increase turnaround speed by 23% with 100% deadline adherence.
        </p>

        <ul class="responsibilities">
          <li>Developed applications using <strong>React</strong> while managing state through <strong>Redux</strong>.
          </li>
          <li>Promoted efficient component lifecycle practices based on a strong understanding of React fundamentals,
            resulting in a 23% faster turnaround with complete adherence to deadlines.</li>
          <li>Integrated Google APIs to enable location-based search by longitude/latitude, addresses, and business
            names.</li>
          <li>Implemented <strong>React Router DOM</strong> for nested RESTful routing, enhancing user navigation and
            component management.</li>
        </ul>

        <p class="skills">
          Skills: NodeJS, MongoDB, React, Redux, Google APIs, React Router DOM, REST APIs, Git, Agile Methodologies
        </p>
      </div>

    </div>
  </div>
</div>