<div class="container">
    <h1 class="font-heading">About</h1>
    <p class="font-subheading">I'm Adyasha. A developer and problem solver.</p>
    <h1>Experience</h1>
    <ul>
      <li>Bachelors in Engineering in Computer Engineering</li>
      <li>2018-2022</li>
      <li>Niramai Health Analytix</li>
      <li>SDE 1<br>Jul 2022 - Present</li>
      <li>Niramai Health Analytix</li>
      <li>Backend Developer Intern <br>May 2021 - Jun 2022</li>
      <li>Edunomics</li>
      <li>Full Stack Developer Intern<br>Nov 2020 - Apr 2021</li>
    </ul>
    <h1>Skills</h1>
    <p> Full Stack Development / Angular / Angular JS / Node JS / SQL / Mongo DB / Python / User Research / Agile Methodologies / Collaboration / Docker / HTML and CSS / JIRA / Confluence / AWS / Jenkins / </p>

    <button class="cv-button"  (click)="downloadResume()">Resume</button>
</div>