.bg-page1 {
  background-color: #57270b;
  color: #fffbeb;
}

.bg-page2 {
  background-color: #fffbeb;
  color: #57270b;
}

body {
  background-color: inherit;  // Inherit background color from app component
  color: inherit;  // Inherit font color
  overflow-x: hidden;
}
.font-title {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  }
  .font-heading {
    font-family: 'GrandSlang-Roman', serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-para {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
  }
  
  .title {
    @extend .font-title;
  }
  
  .para {
    @extend .font-para;
  }
  .font-heading {
    @extend .font-heading
  }